@import '~roboto-fontface/css/roboto/roboto-fontface.css';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

table tbody tr td {
  padding: 6px 16px !important;
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 0 16px !important;
}

.v-parallax .v-parallax__image {
  filter: brightness(90%);
}

.theme--dark.v-card > .v-card__text {
  color: rgba(255, 255, 255, 0.9) !important;
}

.h-full {
  height: 100%;
}
