@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url('./assets/fonts/roboto-v20-latin-300.woff2') format('woff2'),
  url('./assets/fonts/roboto-v20-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('./assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
  url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('./assets/fonts/roboto-v20-latin-500.woff2') format('woff2'),
  url('./assets/fonts/roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('./assets/fonts/roboto-v20-latin-700.woff2') format('woff2'),
  url('./assets/fonts/roboto-v20-latin-700.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

table tbody tr td {
  padding: 6px 16px !important;
}

.v-icon.v-alert__icon {
  align-self: center !important;
}

.v-input--radio-group .v-input__control .v-input__slot {
  margin-bottom: 0 !important;
}

.v-parallax .v-parallax__image {
  filter: brightness(90%);
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 0 16px !important;
}

.theme--dark.v-card > .v-card__text {
  color: rgba(255, 255, 255, 0.9) !important;
}

.h-full {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.no-select {
  user-select: none;
}
